/* Estilo general */
body {
  background-color: #1e1e1e;
  color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Menú de dificultad */
#menu {
  margin-top: 60px;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 1.2em;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

/* Canvas del juego */
canvas {
  display: block;
  margin: 40px auto;
  background-color: #000;
  border: 4px solid #4caf50;
  box-shadow: 0 0 10px #4caf50;
}

/* Controles tactiles  */
#touch-controls {
  margin-top: 20px;
  display: none; /* Se activa solo en móviles */
}

#touch-controls button {
  background-color: #222;
  color: white;
  font-size: 2em;
  padding: 15px 20px;
  margin: 5px;
  border: 2px solid #4caf50;
  border-radius: 10px;
  width: 60px;
  height: 60px;
}